{% extends "master.html.twig" %}

{% block title %}Access Denied{% endblock %}

{% block content %}
    
    <h3>Access Denied</h3> <br>
    <p><a href="/register">Register</a> or <a href="/login">Login here</a>.</p>
    <img src="/images/denied.jpg">
{% endblock %}