{% extends "master.html.twig" %}



{% block content %}

    <div class="content-block">
    <a href="/price/add" class="button button-fill button-big button-blue">Add Price</a> 
    </div>
    <div class="content-block">
    <a href="/stores/list" class="button button-fill button-big button-blue">Stores</a>
    </div>
   <div class="content-block">
    <a href="/products/list" class="button button-fill button-big button-blue">Products</a>
    </div>  
     <div class="content-block">
    <a href="/price/list" class="button button-fill button-big button-blue">Prices</a> 
    </div>
{% endblock %}



