{% extends "master.html.twig" %}

{% block overlayTitle %}Main{% endblock %}

{% block content %}

    <div class="content-block">
   
    <a href="/price/add" class="button button-fill button-big button-blue">Add Product</a> 
    </div>
    
    <div class="content-block">
<div class="row">
  <div class="col-50">
    <a href="/stores/list" class="button button-fill button-big button-blue">Stores</a>
  </div>
  <div class="col-50">
    <a href="/products/list" class="button button-fill button-big button-blue">Products</a>
  </div>
</div>  
    </div>
{% endblock %}



