{% extends "master.html.twig" %}

{% block title %}Invalid/Expired/Not Found{% endblock %}

{% block content %}    
    <div class='content-block'>
    <p>Password reset token invalid, not found or expired</p>
    </div>
{% endblock %}
