{% extends "master.html.twig" %}

{% block title %} Product {% if isEditing %}edited{% else %}added{% endif %}{% endblock %}

{% block content %}
    
    <p>Product {% if isEditing %}updated{% else %}added{% endif %}.<br> <a href="/stores/add">Add another product</a> or <a href="/index"> view list of to</a></p>

{% endblock %}
