{% extends "master.html.twig" %}

{% block content %}
   {# {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %} #}
<div class="content-block-title">Products</div>
<form method="post" enctype="multipart/form-data">
<div class="list-block">
  <ul>
    <!-- Text inputs -->
    <li>
      <div class="item-content">
        <div class="item-media"><i class="icon f7-icons">person</i></div>
        <div class="item-inner">
          <div class="item-input">
            <input type="text" placeholder="Name" name="name">
          </div>
        </div>
      </div>
    </li>
 
    {# image path #}
    <li>
      <div class="item-content">
        <div class="item-media"><i class="icon f7-icons">camera</i></div>
        <div class="item-inner">
          <div class="item-input">
            <input type="file" placeholder="PicPath" name="picPath">
          </div>
        </div>
      </div>
    </li>
    
  </ul>
</div> 
</form>
{% endblock %}

