{% extends "master.html.twig" %}

{% block title %} Product {% if isEditing %}edited{% else %}added{% endif %}{% endblock %}

{% block content %}
    
    <p>To-Do {% if isEditing %}updated{% else %}added{% endif %}.<br> <a href="/add">Add another to-do</a> or <a href="/index"> view list of to</a></p>

{% endblock %}
