{% extends "master.html.twig" %}


{# {% if errorList %}
    <ul>
        {% for error in errorList %}
            <li>{{error}}</li>
            {% endfor %}
    </ul>
{% endif %} #}
{% block content %}

    <div class="content-block"> 
        <div class="content-block-title">Products</div>
        <form method="post" enctype="multipart/form-data" class="ajax-submit">
            <div class="list-block">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon f7-icons">person</i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="text" placeholder="Name" name="name" value="{{v.name}}">
                                </div>
                            </div>
                        </div>
                    </li>
                    
                    {# get current location #}
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon f7-icons">world-fill</i></div>
                            <div class="item-inner">
                                <div class="item-title label">Get location</div>
                                <div class="item-input">
                                    <label class="label-switch">
                                        <input type="checkbox" id="getLocation"> {# TODO: write javascript function to get current location #}
                                        <div class="checkbox"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>

                    {# image path #}
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon f7-icons">camera</i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="file" placeholder="Product Image" name="productImage">
                                </div>
                            </div>
                        </div>
                    </li>
                    
                    {# submit #}
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <input type="submit" class="button button-big button-fill" value="{% if isEditing %}Update{% else %}Add{% endif %}Store">
                            </div>
                        </div>
                    </li>
                </ul>
                    
        </form>
    </div> 
</div>
{% endblock %}

{% block scriptextra %}
$("#getLocation").change(function() {
    if(this.checked) {
        
    }
});
{% endblock %}