{% extends "master.html.twig" %}
{% block title %}Store List{% endblock %}
{% block headextra %}
    {# <script>
         $(document).ready(function () {
         // respond to all events that may change the value of input
         $('input[name=searchbar]').bind('propertychange change keyup input paste', function () {
             var searchInput = $('input[name=searchbar]').val();
             $('#searchList').load('/storeresult/' + searchInput);
         });
     });
     </script> #}
{% endblock %}
{% block searchbar %}
    <!-- Search Bar with "searchbar-init" class for auto initialization -->
    <form class="searchbar searchbar-init" data-search-list=".list-block-search" data-search-in=".item-title" data-found=".searchbar-found" data-not-found=".searchbar-not-found">
        <div class="searchbar-input">
            <input type="search" placeholder="Search">
            <a href="#" class="searchbar-clear"></a>
        </div>
        <a href="#" class="searchbar-cancel">Cancel</a>
    </form>

    <div class="searchbar-overlay"></div>
    <div class="page-content">
        <div class="content-block searchbar-not-found">
            Nothing found
        </div>

        <div class="list-block list-block-search searchbar-found">
            <!-- List View -->
            <div class="content-block-title">Store List</div>
            <ul>               
                <div class="list-block accordion-list">

                    {% for l in list %}
                        <li>
                            <a href="/stores/view/{{l.id}}" class="item-link item-content external">
                                <div class="item-media"><img style="max-width:44px;" src="{{l.logoPath}}"></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">{{l.name}}</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% else %}

                    {% endfor %}

                </div>
            </ul>
        </div>
        {# creates white space at bottom of screen #}
        <div class="content-block">&nbsp;</div>
    </div>

{% endblock %}


{% block content %}


{% endblock %}