{% extends "master.html.twig" %}

{% block title %}Store {% if isEditing %}edited{% else %}added{% endif %}{% endblock %}

{% block content %}    
    <div class="content-block-title">Store Added</div>
    <div class="card">
  <div class="card-content">
    <div class="card-content-inner">{{v.name}} added successfully</div>
  </div>
         <div class="card-footer">
    <a href="/stores/list" class="link">Go to list</a>
    <a href="/stores/view/{{v.id}}" class="link">See store</a>
  </div>
</div>
    
{% endblock %}

