{% extends "master.html.twig" %}

{% block content %}
    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %} 


    <div class="content-block"> 
        <div class="content-block-title">Stores</div>
        <form method="post" enctype="multipart/form-data">
            <div class="list-block">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon f7-icons">info</i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="text" placeholder="Store Name" name="name" value="{{v.name}}">
                                </div>
                            </div>
                        </div>
                    </li>

                    {# get current location #}
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon f7-icons">world-fill</i></div>
                            <div class="item-inner">
                                <div class="item-title label">Get location</div>
                                <div class="item-input">
                                    <label class="label-switch">
                                        <input type="checkbox" id="getLocation" > {# TODO: write javascript function to get current location #}
                                        <div class="checkbox"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <input type="hidden" name="longitude" id="longitude">
                    <input type="hidden" name="latitude" id="latitude">
                    <input type="hidden" name="address" id="address">
                    <div class="list-block-label"><p id="noGeo"></p></div>                                                     

                    {# image path #}
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon f7-icons">camera</i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="file" name="storeImage">
                                </div>
                            </div>
                        </div>
                    </li>

                    
                    {# submit #}
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <input type="submit" class="button button-big button-fill" value="{% if isEditing %}Update{% else %}Add{% endif %} Store">
                            </div>
                        </div>
                    </li>
                </ul>

        </form>
    </div> 
</div>
{% endblock %}

{% block scriptextra %}
    <script>
        var x = document.getElementById("noGeo");
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser";
            }
        }
        function showPosition(position) {
            var long = position.coords.latitude;
            var lat = position.coords.longitude;

            document.getElementById("longitude").value = long;
            document.getElementById("latitude").value = lat;
            
            
        }

        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    x.innerHTML = "User denied the request for Geolocation.";
                    break;
                case error.POSITION_UNAVAILABLE:
                    x.innerHTML = "Location information is unavailable.";
                    break;
                case error.TIMEOUT:
                    x.innerHTML = "The request to get user location timed out.";
                    break;
                case error.UNKNOWN_ERROR:
                    x.innerHTML = "An unknown error occurred.";
                    break;
            }
        }
        $("#getLocation").change(function () {
            if (this.checked) {
                getLocation();
            }
        });
    </script>
{% endblock %}